<div ng-show="!ngModel.id" style="border-radius: 5px; border: 1px solid rgb(204, 204, 204); padding: 5px;">
  <a href data-toggle="modal" data-target="#{{ modalId }}">Wybierz</a>
</div>
<div ng-show="ngModel.id" style="border-radius: 5px; border: 1px solid rgb(204, 204, 204); padding: 5px;">
  <strong>[{{ ngModel.id }}] {{ ngModel.city + ', ' + ngModel.address }}</strong><br/>
  <a href data-toggle="modal" data-target="#{{ modalId }}">Zmień</a>
</div>

<div class="modal fade bootstrap" id="{{ modalId }}" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Wyszukaj punkt</h4>
      </div>
      <div class="modal-body form-horizontal">

        <div class="bootstrap" ng-show="error">
            <div class="alert alert-danger">
                <h4 ng-bind="error">Podczas wysyłania zamówienia wystąpił błąd</h4>
                <button type="button" class="close" ng-click="error = null;">×</button>
            </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 control-label">Podaj miasto, kod pocztowy, ulicę lub numer paczkomatu</label>
          <div class="col-lg-6"><input type="text" ng-model="query" /></div>
          <div class="col-lg-2">
            <button class="btn btn-primary searchTerminals" ng-disabled="processing" ng-click="searchTerminals();">
              Szukaj <i class="icon-cog icon-spin" ng-show="processing"></i>
            </button>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 control-label">Punkt: </label>
          <div class="col-lg-6 select2box">
            <select 
            type="text"
            class="select2"
            ng-show="terminalsList.length"
            ng-model="selectedTerminal" 
            ng-options="t as (t.city + ', ' + t.address) for t in terminalsList"></select>

            <span ng-show="!terminalsList.length">Skorzystaj z wyszukiwarki powyżej, aby znaleźć punkt odbioru/nadania</span>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveTerminal();">Zapisz</button>
      </div>
    </div>
  </div>
</div>
