<div class="panel">
  <div class="panel-body form-horizontal" >
      <div class="form-group senderAddressPointId senderAddressPointIdinpost" data-type="senderAddressPointId" ng-show="enabledFields.inpost_">
        <label class="col-lg-4 control-label" >InPost<br/>sending point</label>
        <div class="col-lg-8">
          <span glob-terminal-picker product="serviceModel" is-cod="enabledFields.codAmount" ng-model="ngModel.inPostSenderPoint" ></span>
        </div>
      </div>

      <div class="form-group receiverAddressPointId receiverAddressPointIdinpost" ng-show="enabledFields.inpost_">
        <label class="col-lg-4 control-label" >InPost<br/>pickup point</label>
        <div class="col-lg-8">
          <span glob-terminal-picker product="serviceModel" is-cod="enabledFields.codAmount" ng-model="ngModel.inPostReceiverPoint" ></span>
        </div>
      </div>

      <div class="form-group receiverAddressPointId receiverAddressPointIdorlen" ng-show="enabledFields.ruch_">
        <label class="col-lg-4 control-label" >ORLEN Paczka<br/>pickup point</label>
        <div class="col-lg-8">
          <span glob-terminal-picker product="serviceModel" is-cod="enabledFields.codAmount" ng-model="ngModel.paczkaRuchReceiverPoint" ></span>
        </div>
      </div>

      <div class="form-group receiverAddressPointId receiverAddressPointIdpocztex48" ng-show="enabledFields.pocztex48owp_">
        <label class="col-lg-4 control-label" >Pocztex48 OWP<br/>pickup point</label>
        <div class="col-lg-8">
          <span glob-terminal-picker product="serviceModel" is-cod="enabledFields.codAmount" ng-model="ngModel.pocztex48owpReceiverPoint" ></span>
        </div>
      </div>

      <div class="form-group receiverAddressPointId receiverAddressPointIddhl" ng-show="enabledFields.dhlparcel_">
        <label class="col-lg-4 control-label" >DHL ParcelShop<br/>pickup point</label>
        <div class="col-lg-8">
          <span glob-terminal-picker product="serviceModel" is-cod="enabledFields.codAmount" ng-model="ngModel.dhlparcelReceiverPoint" ></span>
        </div>
      </div>

      <div class="form-group receiverAddressPointId receiverAddressPointIddpd" ng-show="enabledFields.dpdpickup_">
        <label class="col-lg-4 control-label" >DPD Pickup<br/>pickup point</label>
        <div class="col-lg-8">
          <span glob-terminal-picker product="serviceModel" is-cod="enabledFields.codAmount" ng-model="ngModel.dpdpickupReceiverPoint" ></span>
        </div>
      </div>

      <div class="form-group pickupDate" ng-show="enabledFields.sendDate">
        <label class="col-lg-4 control-label" >Date sending</label>
        <div class="col-lg-8">
          <input type="text" class="send-date" ng-model="ngModel.sendDate" />
          <p class="help-block">On what day the courier should arrive to pick up the package?</p>
        </div>
      </div>

      <div class="form-group pickupTimeFrom" ng-show="enabledFields.sendDate">
        <label class="col-lg-4 control-label">Pickup time</label>
        <div class="col-lg-8">
          <p ng-show="loaders.timeRanges">Loading available hours <i class="icon-cog icon-spin"></i></p>
          <select ng-show="!loaders.timeRanges" ng-model="ngModel.timeRange" ng-options="p as (p.timeFrom + ' - ' + p.timeTo) for p in availableTimeRanges"></select>
        </div>
      </div>

      <div class="form-group" ng-show="enabledFields.codAmount">
        <label class="col-lg-4 control-label" >COD amount</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.codAmount" />
        </div>
      </div>

      <div class="form-group" ng-show="enabledFields.codAccount">
        <label class="col-lg-4 control-label" >Account number to COD</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.codAccount" />
          <p class="help-block">IBAN Account number (e.g. PL29109015199335376470438408 )</p>
        </div>
      </div>

      <div class="form-group" ng-show="enabledFields.codAccount">
        <label class="col-lg-4 control-label" >Name of account owner</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.codAccountHolder" />
        </div>
      </div>

      <div class="form-group" ng-show="enabledFields.codAccount">
        <label class="col-lg-4 control-label" >Street of the account owner</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.codAccountAddr1" />
        </div>
      </div>

      <div class="form-group" ng-show="enabledFields.codAccount">
        <label class="col-lg-4 control-label" >Postcode and city account owner</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.codAccountAddr2" />
        </div>
      </div>

      <div class="form-group" ng-show="enabledFields.insuranceAmount">
        <label class="col-lg-4 control-label" >Insurance amount</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.insuranceAmount" />
        </div>
      </div>

      <div class="form-group declaredValue" ng-show="enabledFields.declaredValue">
        <label class="col-lg-4 control-label">Declared value</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.declaredValue" />
        </div>
      </div>

      <div class="form-group purpose" ng-show="enabledFields.declaredValue">
        <label class="col-lg-4 control-label">Purpose of the shipment</label>
        <div class="col-lg-8">
          <select ng-model="ngModel.purpose">
            <option value="SOLD">SOLD</option>
            <option value="GIFT">GIFT</option>
            <option value="SAMPLE">SAMPLE</option>
            <option value="NOT_SOLD">NOT_SOLD</option>
            <option value="PERSONAL_EFFECTS">PERSONAL_EFFECTS</option>
            <option value="REPAIR_AND_RETURN">REPAIR_AND_RETURN</option>
          </select>
        </div>
      </div>

      <div class="form-group receiverStateId">
          <label class="col-lg-4 control-label">States/Regions <sup>*</sup></label>
          <div class="col-lg-8">
              <p ng-show="loaders.state">Loading of states / regions <i class="icon-cog icon-spin"></i></p>
              <select ng-show="!loaders.state" ng-model="ngModel.stateType" ng-disabled="!enabledFields.stateType" ng-options="p.id as p.name for p in availableStates"></select>
          </div>
          <small class="hint"><sup>*</sup> Field is required for country that have states.</small>
      </div>

      <div class="form-group ">
        <label class="col-lg-4 control-label">Payment</label>
        <div class="col-lg-8">
          <p ng-show="loaders.payments">loading payments <i class="icon-cog icon-spin"></i></p>
          <select ng-show="!loaders.payments" ng-model="ngModel.paymentType" ng-disabled="!enabledFields.paymentType" ng-options="p.id as p.name for p in availablePayments"></select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-4 control-label">Commnets</label>
        <div class="col-lg-8">
          <textarea ng-model="ngModel.notes" ></textarea>
          <p class="help-block">Add comments may delay order processing</p>
        </div>
      </div>
  </div>
</div>

