<div class="panel deliverySending" ng-show="collectionTypes.length > 1">
  <div class="panel-heading">Nadanie przesyłki</div>
  <div class="radio">
    <label for="pickup">
      <input type="radio" value="PICKUP" id="pickup" name="pickup_type" ng-model="pickedCollectionType" ng-change="collectionTypeChanged()">
      Przesyłkę odbierze kurier</label> <br>
  </div>
  <div class="radio">
    <label for="point">
      <input type="radio" value="POINT" id="point" ng-model="pickedCollectionType" name="pickup_type" ng-change="collectionTypeChanged()">
      Nadam przesyłkę w terminalu</label>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-heading">Opcje dodatkowe</div>
  <span ng-show="isAjax"><i class="icon-cog icon-spin"></i></span>
  <table class="table" ng-show="!isAjax">
    <tbody>
        <tr ng-show="!options.length">
            <td colspan="3">Brak usług dodatkowych</td>
        </tr>
        <tr ng-repeat="option in options">
            <td style="width: 8%;">
                <input ng-model="option.picked" type="checkbox" ng-change="optionChanged(option);">
            </td>
            <td ng-bind="option.addonName"></td>
            <td>{{ option.required}}</td>
            <td><strong>+{{option.price}}zł</strong></td>
        </tr>
      </tbody>
    </table>
</div>
