<style type="text/css">
    .glob-product-block {
        text-align: center;
        padding: 10px 10px;
    }

    .glob-product-block:hover {
        background-color: #e1e1e1;
    }

    .modal-body.row {
        display: flex;
        flex-wrap: wrap;
    }
</style>

<div ng-if="pickedProduct">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-heading">
        <span class="pull-left">Wybrany przewoźnik</span>
        <button class="btn btn-sm btn-warning pull-right" style="margin-top: 2px;" ng-click="cancelProduct();" data-dismiss="modal">Zmień</button>
      </div>
      <table>
        <tr>
          <td style="width: 70%;">
            <img ng-if="pickedProduct.carrierLogoLink" ng-src="{{ pickedProduct.carrierLogoLink }}" alt="{{ pickedProduct.carrierName }}" />
            <strong ng-bind="pickedProduct.carrierName"></strong><br/>
            <span ng-bind="pickedProduct.name"></span>
          </td>
          <td style="padding: 0px 10px;">
            Koszt: <strong>{{ pickedProduct.netPrice }}zł</strong>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div ng-show="!pickedProduct">
  <p>
      <strong>Podaj wymiary i wagę przesyłki</strong><br>
  </p>
  <p>
      [cm]
      <input style="width: auto; display: inline-block;" size="2" ng-model="packageInfo.length" type="text" placeholder="Wys"> x
      <input style="width: auto; display: inline-block;" size="2" ng-model="packageInfo.width" type="text" placeholder="Szer"> x
      <input style="width: auto; display: inline-block;" size="2" ng-model="packageInfo.height" type="text" placeholder="Dłg"> -
      <input style="width: auto; display: inline-block;" size="2" ng-model="packageInfo.weight" type="text" placeholder="kg">
  </p>
  <p>
      Zawartość: <input style="width: auto; display: inline-block;" size="10" type="text" ng-model="packageInfo.content" placeholder="np. Ceramika">
      Ilość: <input style="width: auto; display: inline-block;" size="2" ng-model="packageInfo.count" type="text">
  </p>
  <p>
      <button class="btn btn-success" id="wycen" ng-click="getServices();" onclick="clik();">
          <span ng-show="!isAjax">Wyceń</span>
          <span ng-show="isAjax"><i class="icon-cog icon-spin"></i></span>
      </button>
      <span ng-show="products.length > 0" style="color: #777;">* Podane ceny są cenami netto</span>
  </p>

  <p ng-show="error" ng-bind="error"></p>

  <div class="best-price-products">
      <div class="radio" ng-repeat="product in products | orderBy:'+netPrice' | limitTo:3">
        <label ng-click="pickProduct(product);">
          <input type="radio" name="productRadios" ng-value="product.symbol">
          <strong>{{ product.carrierName }} - {{ product.name }}</strong> - {{ product.netPrice }}zł
        </label>
      </div>

      <a href ng-show="products.length > 3" data-toggle="modal" data-target="#allProducts">Pokaż wszystkich ({{ products.length }})</a>
  </div>
</div>

<div class="modal fade" id="allProducts" tabindex="-1" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Wybierz przewoźnika</h4>
    </div>
    <div class="modal-body row" >
        <div class="col-lg-4 glob-product-block"  ng-repeat="product in products | orderBy:'+netPrice'">
          <img ng-if="product.carrierLogoLink" ng-src="{{ product.carrierLogoLink }}" alt="{{ product.carrierName }}" /><br/>
          <strong ng-bind="product.carrierName"></strong><br/>
          <span ng-bind="product.name"></span><br/><br/>
          <strong>{{ product.netPrice }}zł</strong><br/>
          (netto)<br/><br/>
          <button class="btn btn-sm btn-success" ng-click="pickProduct(product);" data-dismiss="modal">Wybieram</button>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
    </div>
  </div>
</div>
</div>
