<div class="panel">
  <div class="panel-body form-horizontal" >
      <div class="form-group senderAddressPointId senderAddressPointIdinpost" data-type="senderAddressPointId" ng-show="enabledFields.inpost_">
        <label class="col-lg-4 control-label" >InPost<br/>punkt nadania</label>
        <div class="col-lg-8">
          <span glob-terminal-picker product="serviceModel" is-cod="enabledFields.codAmount" ng-model="ngModel.inPostSenderPoint" ></span>
        </div>
      </div>
<!--      <div class="form-group senderAddressPointId senderAddressPointIddhl" ng-show="enabledFields.dhlparcel_" style="display: none !important;">-->
<!--          <label class="col-lg-4 control-label" >DHL ParcelShop<br/>punkt nadania</label>-->
<!--          <div class="col-lg-8">-->
<!--              <span glob-terminal-picker product="serviceModel" is-cod="enabledFields.codAmount" ng-model="ngModel.dhlparcelSenderPoint" ></span>-->
<!--          </div>-->
<!--      </div>-->

      <div class="form-group receiverAddressPointId receiverAddressPointIdinpost" ng-show="enabledFields.inpost_">
        <label class="col-lg-4 control-label" >InPost<br/>punkt odbioru</label>
        <div class="col-lg-8">
          <span glob-terminal-picker product="serviceModel" is-cod="enabledFields.codAmount" ng-model="ngModel.inPostReceiverPoint" ></span>
        </div>
      </div>

      <div class="form-group receiverAddressPointId receiverAddressPointIdorlen" ng-show="enabledFields.ruch_">
        <label class="col-lg-4 control-label" >ORLEN Paczka<br/>punkt odbioru</label>
        <div class="col-lg-8">
          <span glob-terminal-picker product="serviceModel" is-cod="enabledFields.codAmount" ng-model="ngModel.paczkaRuchReceiverPoint" ></span>
        </div>
      </div>

      <div class="form-group receiverAddressPointId receiverAddressPointIdpocztex48" ng-show="enabledFields.pocztex48owp_">
        <label class="col-lg-4 control-label" >Pocztex48 OWP<br/>punkt odbioru</label>
        <div class="col-lg-8">
          <span glob-terminal-picker product="serviceModel" is-cod="enabledFields.codAmount" ng-model="ngModel.pocztex48owpReceiverPoint" ></span>
        </div>
      </div>

      <div class="form-group receiverAddressPointId receiverAddressPointIddhl" ng-show="enabledFields.dhlparcel_">
        <label class="col-lg-4 control-label" >DHL ParcelShop<br/>punkt odbioru</label>
        <div class="col-lg-8">
          <span glob-terminal-picker product="serviceModel" is-cod="enabledFields.codAmount" ng-model="ngModel.dhlparcelReceiverPoint" ></span>
        </div>
      </div>

      <div class="form-group receiverAddressPointId receiverAddressPointIddpd" ng-show="enabledFields.dpdpickup_">
        <label class="col-lg-4 control-label" >DPD Pickup<br/>punkt odbioru</label>
        <div class="col-lg-8">
          <span glob-terminal-picker product="serviceModel" is-cod="enabledFields.codAmount" ng-model="ngModel.dpdpickupReceiverPoint" ></span>
        </div>
      </div>

      <div class="form-group pickupDate" ng-show="enabledFields.sendDate">
        <label class="col-lg-4 control-label" >Data nadania</label>
        <div class="col-lg-8">
          <input type="text" class="send-date" ng-model="ngModel.sendDate" />
          <p class="help-block">W jakim dniu kurier ma przyjechac po paczkę?</p>
        </div>
      </div>

      <div class="form-group pickupTimeFrom" ng-show="enabledFields.sendDate">
        <label class="col-lg-4 control-label">Godzina odbioru</label>
        <div class="col-lg-8">
          <p ng-show="loaders.timeRanges">Ładowanie dostępnych godzin <i class="icon-cog icon-spin"></i></p>
          <select ng-show="!loaders.timeRanges" ng-model="ngModel.timeRange" ng-options="p as (p.timeFrom + ' - ' + p.timeTo) for p in availableTimeRanges"></select>
        </div>
      </div>

      <div class="form-group" ng-show="enabledFields.codAmount">
        <label class="col-lg-4 control-label" >Kwota pobrania</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.codAmount" />
        </div>
      </div>

      <div class="form-group" ng-show="enabledFields.codAccount">
        <label class="col-lg-4 control-label" >Numer konta do pobrania</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.codAccount" />
          <p class="help-block">Numer konta w formacie IBAN ( PL29109015199335376470438408 )</p>
        </div>
      </div>

      <div class="form-group" ng-show="enabledFields.codAccount">
        <label class="col-lg-4 control-label" >Nazwa właściciela rachunku</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.codAccountHolder" />
        </div>
      </div>

      <div class="form-group" ng-show="enabledFields.codAccount">
        <label class="col-lg-4 control-label" >Ulica właściciela rachunku</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.codAccountAddr1" />
        </div>
      </div>

      <div class="form-group" ng-show="enabledFields.codAccount">
        <label class="col-lg-4 control-label" >Kod pocztowy i miejscowość właściciela rachunku</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.codAccountAddr2" />
        </div>
      </div>

      <div class="form-group" ng-show="enabledFields.insuranceAmount">
        <label class="col-lg-4 control-label" >Kwota ubezpieczenia</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.insuranceAmount" />
        </div>
      </div>

      <div class="form-group declaredValue" ng-show="enabledFields.declaredValue">
        <label class="col-lg-4 control-label">Deklarowana wartość</label>
        <div class="col-lg-8">
          <input type="text" ng-model="ngModel.declaredValue" />
        </div>
      </div>

      <div class="form-group purpose" ng-show="enabledFields.declaredValue">
        <label class="col-lg-4 control-label">Cel przesyłki</label>
        <div class="col-lg-8">
          <select ng-model="ngModel.purpose">
            <option value="SOLD">SOLD</option>
            <option value="GIFT">GIFT</option>
            <option value="SAMPLE">SAMPLE</option>
            <option value="NOT_SOLD">NOT_SOLD</option>
            <option value="PERSONAL_EFFECTS">PERSONAL_EFFECTS</option>
            <option value="REPAIR_AND_RETURN">REPAIR_AND_RETURN</option>
          </select>
        </div>
      </div>

      <div class="form-group receiverStateId">
          <label class="col-lg-4 control-label">Stany/Region <sup>*</sup></label>
          <div class="col-lg-8">
              <p ng-show="loaders.state">Ładowanie stanów / województw <i class="icon-cog icon-spin"></i></p>
              <select ng-show="!loaders.state" ng-model="ngModel.stateType" ng-disabled="!enabledFields.stateType" ng-options="p.id as p.name for p in availableStates"></select>
          </div>
          <small class="hint"><sup>*</sup> Pole wymagane dla krajów, które posiadają stany</small>
      </div>

      <div class="form-group ">
        <label class="col-lg-4 control-label">Płatność</label>
        <div class="col-lg-8">
          <p ng-show="loaders.payments">Ładowanie płatności <i class="icon-cog icon-spin"></i></p>
          <select ng-show="!loaders.payments" ng-model="ngModel.paymentType" ng-disabled="!enabledFields.paymentType" ng-options="p.id as p.name for p in availablePayments"></select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-4 control-label">Uwagi</label>
        <div class="col-lg-8">
          <textarea ng-model="ngModel.notes" ></textarea>
          <p class="help-block">Umieszczenie uwag może opóźnić realizację zlecenia</p>
        </div>
      </div>
  </div>
</div>

